@model UserViewModel

<form asp-action="AddUser" role="form" data-ajax="true" data-ajax-method="POST">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Создать пользователя" })
    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label asp-for="Name" class="col-lg-3 col-sm-3 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="Name" class="form-control" />
                    </div>
                    <span asp-validation-for="Name"></span>
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_ModalFooter", new ModalFooter { })
</form>

@Html.Partial("_ValidationScriptsPartial")